*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(0, 132, 255);
  font: 400 1rem arial;
}

header{
  color: white;
  text-align: center;
}

header h1 {
  margin-block: 1rem;
}

section {
  background-color: white;
  border-radius: 0.625rem;
  padding: 0.8rem;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
  display: grid;
  gap: 1rem;
}

section div {
  display: grid;
  grid-auto-flow: column;
  width: 200px;
}

section input {
  border-radius: 0.2rem;
  outline: 1px solid black;
  border: none;
  margin-left: auto;
  width: 130px;
  padding-left: 0.3rem;
}

section button {
  width: fit-content;
  padding: 0.6rem;
  border-radius: 0.3rem;
  border: none;
  background-color: rgb(0, 132, 255);
  color: white;
  cursor: pointer;
}

section button:hover {
  background-color: rgb(48, 149, 243);
}

section #res {
  overflow-wrap: break-word;
  min-width: 0;
  line-height: 1.8;
}

footer{
  color: white;
  text-align: center;
  font-style: italic;
  margin-block: 1rem;
}
